.login {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(4, 198, 95);

    .login-container {
        width: 500px;
        background-color: white;
        padding: 20px;
        border-radius: 20px;
    }
}
.input {
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 1em;
    background-color: #ccc;
    -webkit-box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
            box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
    -webkit-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;
  }
  
  .input:focus {
    background-color: white;
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-box-shadow:  13px 13px 100px #969696,
               -13px -13px 100px #ffffff;
            box-shadow:  13px 13px 100px #969696,
               -13px -13px 100px #ffffff;
  }

  .btn {
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 15px;
    font-weight: bold;
    transition: .4s ease-in-out;
    box-shadow: inset 2px 5px 10px rgba(0,0,0,0.2);
    letter-spacing: 0.2em;
    border: none;
  }
  
  .btn:hover {
    letter-spacing: 0.5em;
    transform: translateY(-0.8em);
    background: #171717;
    color: white;
  }
  
  .btn:active {
    letter-spacing: 0.4em;
    transition: 0.1s all;
    transform: translateY(-0.6em);
    background: #171717;
    color: white;
  }

